# dependencies
node_modules/

# builds
dist/
coverage/
*.tsbuildinfo

# environment
.env
.env.*
!.env.example

# logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Prisma generated client
apps/api/src/generated/prisma/

# Vite
apps/web/dist/